* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(
    90deg,
    rgba(9, 48, 0, 1) 0%,
    rgb(21, 103, 3) 50%,
    rgba(9, 48, 0, 1) 100%
  );
}
/* header styles */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  font-family: "Delicious Handrawn";
  font-family: "Cute Font", cursive;
  text-shadow: 10px 10px 10px rgb(14, 127, 2);
  font-size: 20px;
  letter-spacing: 1rem;
  margin-left: 20px;
  font-style: italic;
}
/* main styles */
main {
  height: 100%;
}
footer {
  border: 1px solid black;
  height: 50px;
}
/* boards container styles */
#boards-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  border: 1px solid black;
  gap: 20px;
}
#player-board-container,
#computer-board-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 400px;
  height: 400px;
  box-shadow: 0px 15px 40px black;
}
#square {
  border: 1px solid black;
  border-radius: 5px;
  margin: 0;
}
